# Backend & API
fastapi
uvicorn
httpx

# Veri & Mesajlaşma
redis
websockets

# Makine Öğrenmesi & Veri Bilimi (Kaggle MLOps)
pandas
numpy
xgboost
scikit-learn
joblib

# IoT & SCADA Simülatörü
pymodbus